.App {
  /* text-align: center; */
  padding: 20px;
  background-color: #282c34;
}

.App-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-size: 18px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.create-label,
.create-input {
  font-weight: bold;
  width: 80%;
  display: block;
  margin: 5px 0;
}
